.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 197px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 898px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  border-style: none;
  text-transform: uppercase;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-weight: 700;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 12px !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: #f3993d !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 12px !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 356px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0 15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 55px;
  min-height: 16px;
  width: 120px;
  min-width: 42px;
  margin: 11px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-social-icons-2 {
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 14px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-text-4 {
  margin: 29px auto 0;
}

.u-section-2 .u-social-icons-3 {
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 9px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 0;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}