 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 188px;
  margin: 26px auto 0 136px;
}

.u-section-1 .u-text-2 {
  margin: -166px 198px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 8px 160px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 8px auto 0 681px;
}

.u-section-1 .u-image-2 {
  width: 188px;
  height: 188px;
  margin: 89px auto 0 136px;
}

.u-section-1 .u-text-4 {
  margin: -158px 217px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 8px 216px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 8px 328px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 119px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -126px;
    margin-right: 121px;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 380px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-right: 260px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 100px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -153px;
    margin-right: 148px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 438px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 6px;
    margin-right: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 542px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    width: 476px;
  }

  .u-section-1 .u-text-5 {
    width: 513px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 92px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 32px;
    margin-left: 32px;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 96px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}