 .u-section-1 {
  background-image: url("images/pon.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 185px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 66px 280px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 34.69% 52.24%;
    background-size: 215%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 86px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 54px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1534px;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  width: 680px;
  margin: 42px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0 10px 10px;
}

.u-section-2 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 0 269px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-4 {
  margin: 23px auto 0;
}

.u-section-2 .u-list-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 96px;
  height: 96px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: 31px auto 0;
  padding: 9px 40px 10px 39px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 96px;
  height: 96px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: 31px auto 0;
  padding: 9px 40px 10px 39px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 96px;
  height: 96px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-10 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: 31px auto 0;
  padding: 9px 40px 10px 39px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  width: 96px;
  height: 96px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-12 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 31px auto 0;
  padding: 9px 40px 10px 39px;
}

.u-section-2 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-3 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-15 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-image-7 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-17 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-image-8 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-19 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-image-9 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-20 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-21 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-22 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-4 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-10 {
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-image-10 {
  width: 96px;
  height: 96px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-24 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  margin: 29px auto 0;
}

.u-section-2 .u-list-item-11 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-image-11 {
  width: 96px;
  height: 96px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-25 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-26 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  margin: 29px auto 0;
}

.u-section-2 .u-list-item-12 {
  background-image: none;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px;
}

.u-section-2 .u-image-12 {
  width: 96px;
  height: 96px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-27 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-28 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  margin: 29px auto 0;
}

.u-section-2 .u-list-item-13 {
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-image-13 {
  width: 96px;
  height: 96px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-29 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-30 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  margin: 29px auto 0;
}

.u-section-2 .u-gallery-nav-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-31 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-5 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-5 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-14 {
  background-image: none;
}

.u-section-2 .u-container-layout-14 {
  padding: 10px;
}

.u-section-2 .u-image-14 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-32 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-33 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-15 {
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 10px;
}

.u-section-2 .u-image-15 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-34 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-35 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-16 {
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 10px;
}

.u-section-2 .u-image-16 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-36 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-37 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  margin: 28px auto 0;
}

.u-section-2 .u-gallery-nav-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2474px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-list-5 {
    margin-bottom: 45px;
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-text-33 {
    margin-right: 0;
  }

  .u-section-2 .u-text-35 {
    margin-right: 0;
  }

  .u-section-2 .u-text-37 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 129px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-left: 99px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-list-5 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: 100%;
  }
}