 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 188px;
  margin: 75px auto 0 106px;
}

.u-section-1 .u-text-2 {
  margin: -170px 175px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 10px 165px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 10px auto 0 651px;
}

.u-section-1 .u-image-2 {
  width: 188px;
  height: 188px;
  margin: 90px auto 0 105px;
}

.u-section-1 .u-text-4 {
  margin: -168px 247px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 8px 201px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 10px auto 0 651px;
}

.u-section-1 .u-image-3 {
  width: 188px;
  height: 188px;
  margin: 90px auto 0 106px;
}

.u-section-1 .u-text-6 {
  margin: -172px 169px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 9px 190px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 9px auto 0 652px;
}

.u-section-1 .u-text-8 {
  margin: 52px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 9px auto 0;
  padding: 10px 90px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: 10px auto 0;
  padding: 10px 76px 10px 74px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 10px auto 55px;
  padding: 10px 100px 10px 98px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -171px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 93px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -170px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-right: 70px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-right: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 89px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
    margin-left: 386px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 12px;
    margin-right: 59px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 7px;
    margin-right: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -188px;
    margin-right: 75px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: 98px;
    margin-left: 331px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 94px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -165px;
    margin-right: 115px;
    margin-left: 363px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 12px;
    margin-right: 88px;
    margin-left: 344px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 18px;
    margin-right: auto;
    margin-left: 299px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 93px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -188px;
    margin-right: 94px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 61px;
    margin-left: 316px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 18px;
    margin-right: auto;
    margin-left: 299px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 98px;
  }

  .u-section-1 .u-btn-6 {
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 14px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 37px;
    margin-left: 213px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 73px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 39px;
    margin-left: 260px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 14px;
    margin-left: 239px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 18px;
    margin-left: 247px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 14px;
    margin-left: 213px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1772px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 55px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 93px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: 242px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 96px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 8px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 55px;
  }

  .u-section-1 .u-btn-6 {
    margin-bottom: 36px;
  }
}