 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1142px;
}

.u-section-1 .u-text-1 {
  margin: 49px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 82px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0;
  padding: 10px 58px 10px 57px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 102px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0;
  padding: 10px 42px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 102px 91px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0;
  padding: 10px 67px 10px 66px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 102px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0;
  padding: 10px 27px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 102px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 60px;
  padding: 10px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}