 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1323px;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 188px;
  margin: 75px auto 0 52px;
}

.u-section-1 .u-text-2 {
  margin: -170px auto 0 549px;
}

.u-section-1 .u-text-3 {
  margin: 10px auto 0 380px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 10px auto 0 647px;
}

.u-section-1 .u-image-2 {
  width: 188px;
  height: 188px;
  margin: 90px auto 0 51px;
}

.u-section-1 .u-text-4 {
  margin: -169px auto 0 486px;
}

.u-section-1 .u-text-5 {
  margin: 10px auto 0 327px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 9px auto 0 647px;
}

.u-section-1 .u-image-3 {
  width: 188px;
  height: 188px;
  margin: 90px auto 0 52px;
}

.u-section-1 .u-text-6 {
  margin: -172px auto 0 509px;
}

.u-section-1 .u-text-7 {
  margin: 9px auto 0 517px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 9px auto 0 648px;
}

.u-section-1 .u-image-4 {
  width: 188px;
  height: 188px;
  margin: 94px auto 0 52px;
}

.u-section-1 .u-text-8 {
  margin: -168px 246px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 9px 213px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 9px 372px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 49px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: 9px auto 0;
  padding: 10px 90px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 10px auto 0;
  padding: 10px 100px 10px 98px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: 10px auto 0;
  padding: 10px 61px 10px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 328px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 428px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-left: 552px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 93px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 376px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 245px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 6px;
    margin-left: 552px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 93px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 395px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 401px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 6px;
    margin-left: 553px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 97px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 142px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 109px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 6px;
    margin-right: 266px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 52px;
  }

  .u-section-1 .u-btn-7 {
    margin-bottom: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1632px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 322px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 215px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: 184px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 90px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -168px;
    margin-right: 85px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-right: 0;
    margin-left: 255px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-right: 184px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 87px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 297px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 301px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
    margin-right: 184px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 120px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -166px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 12px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1814px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 83px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -185px;
    margin-right: 76px;
    margin-left: 298px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 26px;
    margin-left: 245px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 95px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -188px;
    margin-right: 66px;
    margin-left: 285px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 12px;
    margin-left: 230px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 95px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -188px;
    margin-right: 45px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 4px;
    margin-right: 20px;
    margin-left: 250px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 91px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 95px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -176px;
    margin-right: 35px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 14px;
    margin-right: 64px;
    margin-left: 289px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 83px;
  }

  .u-section-1 .u-btn-7 {
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2469px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 176px;
  }

  .u-section-1 .u-text-3 {
    width: 227px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 195px;
  }

  .u-section-1 .u-text-5 {
    width: 242px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 188px;
  }

  .u-section-1 .u-text-7 {
    width: 186px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: 184px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: 167px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-bottom: 28px;
  }
}