 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1504px;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 188px;
  margin: 75px auto 0 52px;
}

.u-section-1 .u-text-2 {
  margin: -170px 240px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 10px 108px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 10px auto 0 647px;
}

.u-section-1 .u-image-2 {
  width: 188px;
  height: 188px;
  margin: 90px auto 0 51px;
}

.u-section-1 .u-text-4 {
  margin: -169px 237px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 10px 275px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 9px auto 0 647px;
}

.u-section-1 .u-image-3 {
  width: 188px;
  height: 188px;
  margin: 90px auto 0 52px;
}

.u-section-1 .u-text-6 {
  margin: -172px 176px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 10px 130px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 8px auto 0 648px;
}

.u-section-1 .u-image-4 {
  width: 188px;
  height: 188px;
  margin: 94px auto 0 52px;
}

.u-section-1 .u-text-8 {
  margin: -168px 260px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 9px 275px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 8px 432px 0 auto;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: -45px 313px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 164px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 9px auto 0;
  padding: 10px 90px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: 10px auto 0;
  padding: 10px 76px 10px 74px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: 10px auto 38px;
  padding: 10px 61px 10px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1717px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 328px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -188px;
    margin-right: 147px;
    margin-left: 395px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 91px;
    margin-left: 364px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 285px;
    margin-left: 533px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 108px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -187px;
    margin-right: 199px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 163px;
    margin-left: 436px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 285px;
    margin-left: 533px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 108px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -190px;
    margin-right: 178px;
    margin-left: 451px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 158px;
    margin-left: 431px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 285px;
    margin-left: 533px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 112px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -186px;
    margin-right: 225px;
    margin-left: 498px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 221px;
    margin-left: 494px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    margin-right: 332px;
    margin-left: 485px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 212px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1745px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 42px;
    margin-left: 280px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 54px;
    margin-left: 292px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-right: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 138px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -166px;
    margin-right: 40px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: 75px;
    margin-left: 329px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
    margin-right: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 173px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 62px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: 57px;
    margin-left: 311px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
    margin-right: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 164px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -195px;
    margin-right: 64px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
    margin-right: 72px;
    margin-left: 309px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 11px;
    margin-right: 237px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 115px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 252px;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1801px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 181px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 44px;
    margin-left: 238px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 21px;
    margin-left: 228px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 112px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -183px;
    margin-right: 59px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 10px;
    margin-right: 48px;
    margin-left: 242px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 51px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 112px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -188px;
    margin-right: 16px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 7px;
    margin-right: 32px;
    margin-left: 244px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 112px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -188px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 7px;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 24px;
    margin-right: 163px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2417px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 227px;
  }

  .u-section-1 .u-text-3 {
    width: 249px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 128px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 247px;
  }

  .u-section-1 .u-text-5 {
    width: 241px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 144px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: 228px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 253px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 104px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: 241px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 11px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -46px;
    margin-right: auto;
    margin-left: 181px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 28px;
  }
}