 .u-section-1 {
  background-image: url("images/banner.jpg");
  background-size: 155%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 274px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 86px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 3303px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 486px;
}

.u-section-2 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 370px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 4px 0 0;
}

.u-section-2 .u-image-1 {
  width: 115px;
  height: 115px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 358px 0 365px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 35px auto 0 505px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-4 {
  margin: 43px auto 0;
}

.u-section-2 .u-list-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 18px 19px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: 66px auto 0 110px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 18px 19px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: 66px auto 0 110px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 18px 19px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: 66px auto 0 110px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 18px 19px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 66px auto 0 110px;
}

.u-section-2 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-3 {
  min-height: 388px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-icon-5 {
  width: 85px;
  height: 85px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  margin: 18px 17px 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-17 {
  font-size: 1rem;
  margin: 18px 17px 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: 86px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-19 {
  font-size: 1rem;
  margin: 18px 17px 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  margin: 86px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-21 {
  font-size: 1rem;
  margin: 18px 17px 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  margin: 86px auto 0;
}

.u-section-2 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-22 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-4 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-24 {
  font-size: 1rem;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-25 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-26 {
  font-size: 1rem;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-27 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-28 {
  font-size: 1rem;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-29 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-30 {
  font-size: 1rem;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-gallery-nav-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-31 {
  margin: 21px auto 0;
}

.u-section-2 .u-list-5 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-5 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-14 {
  padding: 10px;
}

.u-section-2 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-32 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-33 {
  margin: 18px 1px 0 0;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 10px;
}

.u-section-2 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-34 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-35 {
  margin: 18px 1px 0 0;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 10px;
}

.u-section-2 .u-icon-15 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-36 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-37 {
  margin: 18px 1px 0 0;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-gallery-nav-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-38 {
  margin: 23px auto 0;
}

.u-section-2 .u-list-6 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-6 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-17 {
  padding: 10px;
}

.u-section-2 .u-icon-16 {
  color: rgb(127, 171, 218) !important;
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-39 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-40 {
  margin: 18px 1px 0 0;
}

.u-section-2 .u-btn-17 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 10px;
}

.u-section-2 .u-icon-17 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-41 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-42 {
  margin: 18px 1px 0 0;
}

.u-section-2 .u-btn-18 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 10px;
}

.u-section-2 .u-icon-18 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-43 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-44 {
  margin: 18px 1px 0 0;
}

.u-section-2 .u-btn-19 {
  background-image: none;
  margin: 66px auto 0;
}

.u-section-2 .u-gallery-nav-11 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-12 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-45 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-7 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-7 {
  min-height: 375px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-20 {
  padding: 10px;
}

.u-section-2 .u-icon-19 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-46 {
  margin: 10px auto 0;
}

.u-section-2 .u-btn-20 {
  background-image: none;
  margin: 68px auto 0;
}

.u-section-2 .u-gallery-nav-13 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-14 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 401px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: 498px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 405px;
    margin-left: auto;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(127, 171, 218) !important;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(127, 171, 218) !important;
  }

  .u-section-2 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(127, 171, 218) !important;
  }

  .u-section-2 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 627px;
  }

  .u-section-2 .u-icon-5 {
    padding: 12px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-icon-6 {
    color: rgb(127, 171, 218) !important;
    padding: 10px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-7 {
    color: rgb(127, 171, 218) !important;
    padding: 10px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-8 {
    color: rgb(127, 171, 218) !important;
    padding: 10px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-text-33 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-14 {
    color: rgb(127, 171, 218) !important;
  }

  .u-section-2 .u-text-35 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-15 {
    color: rgb(127, 171, 218) !important;
  }

  .u-section-2 .u-text-37 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-6 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-text-40 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-17 {
    color: rgb(127, 171, 218) !important;
  }

  .u-section-2 .u-text-42 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-18 {
    color: rgb(127, 171, 218) !important;
  }

  .u-section-2 .u-text-44 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-19 {
    color: rgb(127, 171, 218) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 307px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -4px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 231px;
    margin-right: 226px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 185px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 720px;
  }

  .u-section-2 .u-text-15 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-17 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-19 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-21 {
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-repeater-6 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 230px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 173px;
    margin-right: 170px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 5px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-6 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 145px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 109px;
    margin-right: 107px;
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-repeater-6 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    width: 340px;
  }
}