 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 99px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 99px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}