 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-image-1 {
  width: 127px;
  height: 127px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 52px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 8px auto 0;
  padding: 10px 92px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 8px auto 41px;
  padding: 10px 96px;
}